name: Update
on:
  workflow_dispatch:
jobs:
  update:
    name: Update
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: recursive
      - name: Configure
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
      - name: Update submodules
        run: |
          git submodule sync --recursive
          git submodule update --init --no-single-branch --remote --recursive
          git commit -am "update submodules" || echo no updates
      - name: Push
        run: git push
