name: Update
on:
  workflow_dispatch:
jobs:
  update:
    name: Update
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3.2.0
        with:
          fetch-depth: 0
          submodules: recursive
      - name: update submodules
        run: |
          git config user.name github-actions[bot]
          git config user.email github-actions[bot]@users.noreply.github.com
          git submodule sync --recursive
          git submodule update --init --no-single-branch --remote --recursive
          git commit -am "update submodules" || echo no updates
          git push
